<footer>
  <a href="#" class="totop"><i class="ti ti-angle-up"></i></a>
  <div class="footer-newsletter">
    <div class="container">
      <div class="row">

        <div class="col coppyright" style="text-align: center"><%= t ".design_by"%></div>
      </div>
    </div>
  </div>
  </footer>

